<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/all.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  <title>Новая запись</title>
</head>
<body>
    <style>
        body{
            background-color: #f9f9f9;
        }
        input{
            /* height: 33px; */
            font-size: large;
        }
        input::-webkit-input-placeholder {
            font-size: 18px;
            /* line-height: 3; */
        }   
        .bottom-menu{
            background-color: #f9f9f9;
            color: #777777;
            border-top: 1px solid #a9a9a9;
        }
        .menu-button{
            background-color: #4a8ef1;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        .searchbar{
            width: 95%;
        }
    </style>
</head>
<body>
        <div class="input-group rounded mt-1">
          <input style="border-radius: 10px!important; height: 30px; background-color: #D2D6DC; border: none; color: #9b9b9b;" type="search" class="form-control rounded mx-1" placeholder="Поиск" aria-label="Search" aria-describedby="search-addon" />
          <span style="background-color: #d2d6dc; color: #777777;" class="input-group-text border-0" id="search-addon">
            <i class="fa fa-search"></i>
          </span>
        </div>
        <section class="addpay">
          <div class="container mt-3">
              <h2 class="text-center mb-3">Новая запись</h2>
              <!-- <p>Если у вас возникли проблемы, напишите в поддержку через форму обратной связи ниже.</p> -->
              
              {% for cat,msg in get_flashed_messages(True) %}
              <div class="{{cat}}" role="alert">
                  {{msg}}
              </div>
              {% endfor %}
  
              <form action='/add_payment' method='post' class="row g-2 needs-validation" novalidate>
                <!-- <div class="col-12">
                  <label for="validationCustom01" class="form-label">Введите логин</label>
                  <input type="text" class="form-control" name='username' id="validationCustom01" placeholder="Example" required>
                </div> -->
                <div class="col-12">
                  <label for="validationCustom01" class="form-label">Сумма</label>
                  <div class="input-group">
                    <div class="input-group-text">Руб</div>
                    <input type="number" name='sum' min="0.00" step="0.50" value="1.00" id="exampleInputAmount" class="form-control" placeholder="100,00">
                </div>
                </div>
                <div class="col-12">
                  <label for="exampleFormControlInput1" class="form-label">Категория</label>
                  <div class="input-group">
                    <div class="input-group-text"><span class="material-icons">category</span></div>
                    <select id="inputState" class="form-control" name='category'>
                      <option value="food"> Супермаркеты</option>
                      <option value="study">Образование</option>
                      <option value="cinema">Кино</option>
                      <option value="transfer">Переводы</option>
                      <option value="another">Другое</option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <label for="exampleFormControlInput1" class="form-label">Дата</label>
                  <div class="input-group">
                    <input type="date" class="form-control" id="date" name="date" placeholder="Дата" required>
                  </div>
                </div>
                <div class="col-6">
                  <label for="exampleFormControlInput1" class="form-label">Время</label>
                  <div class="input-group">
                    <input type="time" class="form-control" id="time" name="time" placeholder="Дата" required>
                  </div>
                </div>
                <div class="col-12">
                  <label for="validationCustom03" class="form-label">Описание</label>
                  <textarea class='form-control' name="message" id="" rows=1%></textarea>
                </div>
                <div class="d-grid gap-2 d-md-block">
                  <button class="btn btn-primary mt-3" type="submit" style="height: 66px;">Добавить</button>
                </div>
              </form>
          </div>
    </section>




    
    <!-- Нижнее меню -->
    <div class="container fixed-bottom bottom-menu">
      <div class="row mx-1">
          <div class="col-12  d-flex flex-row justify-content-between">
              <a href="#" style="color:inherit"><i class="py-3 fa fa-user" aria-hidden="true"></i></a>
              <a href="#" style="color:inherit"><i class="py-3 fa fa-chart-line" aria-hidden="true"></i></a>
              <div style="color:#f9f9f9; top: -15px !important;" class="menu-button d-flex justify-content-center align-items-center position-relative">
                  <a href="#" style="color:#f9f9f9"><i class="py-3 fa fa-plus" aria-hidden="true"> </i> </a>
              </div>
              <a href="#" style="color:inherit"><i class="py-3 fa fa-history" aria-hidden="true"></i></a>
              <div class="btn-group dropup">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Вверх</button>
                <a href="#" style="color:inherit"><i class="py-3 fa fa-cog " aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="">1</a></li>
                  <li><a class="dropdown-item" href="">2</a></li>
                  <li><a class="dropdown-item" href="">3</a></li>
                </ul>
              </div>
            </div>
      </div>
  </div>
</body>
</html>