<style>
        .plusmon{
            color: #39d846;
            font-weight: bold;
        }
        .minusmon{
            color: #d83939;
            font-weight: bold;
        }
        .accordion-button{
            font-size: small !important;
        }
</style>

{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="container mt-2">
    <h1>История платежей</h1>
    <form action="history" method="get" class="row">
        <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label">От</label>
            <div class="input-group">
              <input type="date" class="form-control" id="date" name="date" placeholder="Дата" required>
            </div>
        </div>
        <div class="col-6">
            <label for="exampleFormControlInput1" class="form-label">До</label> 
            <div class="input-group">
              <input type="date" class="form-control" id="date" name="date" placeholder="Дата" required>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary mt-1" type="submit" style="width: 100%;">Найти</button>
        </div>
        <label for="exampleFormControlInput1" class="form-label mt-1">Или выберите период</label>
        <div class="col-4">
            <input type="button" class="btn btn-outline-dark" style=" width: 100%; background-color: white; border-color: #ccc;" value='3 месяца' clavalue="">
        </div>
        <div class="col-4">
            <input type="button" class="btn btn-outline-dark" style="width: 100%; background-color: white; border-color: #ccc;" value='6 месяцев' clavalue="">
        </div>
        <div class="col-4">
            <input type="button" class="btn btn-outline-dark" style="width: 100%;   background-color: white; border-color: #ccc;" value='1 год' clavalue="">
        </div>
    </form>
    <!-- <div class="accordion mt-2 " id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Траты за выбранный период&nbsp;<strong>10 000₽</strong>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <img src="https://avatars.mds.yandex.net/get-zen_doc/5232843/pub_610465e375ac2b08430d20e7_610465ebf732f72ee17b83c6/scale_1200" alt="" height="200" width="200" srcset="">
            </div>
          </div>
        </div>
      </div> -->
    <div class="tablesmon mt-2">
        <h6>10 февраля</h6>
        <table class="table">
            <!-- <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead> -->
            <tbody>
            <tr>
                <th scope="row"><i class="fa fa-shopping-cart" aria-hidden="true"></i></th>
                <td>10.02.2022 0:14</td>
                <td class="minusmon">-100₽</td>
            </tr>
            <tr>
                <th scope="row"><i class="fa fa-car" aria-hidden="true"></i></th>
                <td>10.02.2022 0:14</td>
                <td class="plusmon">+10 000₽</td>
            </tr>
            <tr>
                <th scope="row"><i class="fa fa-credit-card" aria-hidden="true"></i></th>
                <td>10.02.2022 0:14</td>
                <td class="minusmon">-1 000₽</td>
            </tr>
            </tbody>
        </table>
        <h6>11 февраля</h6>
        <table class="table">
            <!-- <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
            </thead> -->
            <tbody>
            <tr>
                <th scope="row"><i class="fa fa-car" aria-hidden="true"></i></th>
                <td>10.02.2022 0:14</td>
                <td class="minusmon">-100₽</td>
            </tr>
            <tr>
                <th scope="row"><i class="fa fa-car" aria-hidden="true"></i></th>
                <td>10.02.2022 0:14</td>
                <td class="minusmon">-10 000₽</td>
            </tr>
            <tr>
                <th scope="row"><i class="fa fa-credit-card" aria-hidden="true"></i></th>
                <td>10.02.2022 0:14</td>
                <td class="minusmon">-10₽</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}