<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/all.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">
    <title>Document</title>
    <style>
        body{
            background-color: #121212;
        }
        .bottom-menu{
            background-color: #293437;
            color: white;
            border-top: 1px solid black;
        }
        .menu-button{
            background-color: #4a8ef1;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }
        .searchbar{
            width: 100%;
        }
    </style>
</head>
<body>
    <!-- <nav class="navbar">
        <div class="container bg-info">
          <form style="width: 100%;" class="d-flex row bg-danger">
            <div class="col-11">
                <input class="form-control searchbar" type="search" placeholder="Поиск" aria-label="Search">
            </div>
            <div class="col-1">
                <button style="color: white;" class="btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </form>
        </div>
    </nav> -->
    <div class="input-group rounded mt-1">
        <input style="border-radius: 10px!important; height: 30px; background-color: #363636; border: none; color: #9b9b9b;" type="search" class="form-control rounded mx-1" placeholder="Поиск" aria-label="Search" aria-describedby="search-addon" />
        <span style="background-color: rgba(0, 0, 0, 0); color: white;" class="input-group-text border-0" id="search-addon">
          <i class="fa fa-search"></i>
        </span>
      </div>
    <!-- Нижнее меню -->
    <div class="container fixed-bottom bottom-menu">
        <div class="row mx-1">
            <div class="col-12  d-flex flex-row justify-content-between">
                <i class="py-3 fa fa-user" aria-hidden="true"></i>
                <i class="py-3 fa fa-chart-line" aria-hidden="true"></i>
                <div style="top: -15px !important;" class="menu-button d-flex justify-content-center align-items-center position-relative">
                    <i class="py-3 fa fa-plus" aria-hidden="true"></i>
                </div>
                <i class="py-3 fa fa-history" aria-hidden="true"></i>
                <i class="py-3 fa fa-cog" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</body>
</html>