<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% extends 'base.html' %}
{% block content %}
{{ super() }}
<div class="container mt-2 mb-5" style="padding-bottom: 20px !important">
<h1>Статистика</h1>

<form action="statistics" method="get" class="row">
<div class="col-12">
<label for="exampleFormControlInput1" class="form-label">Выберите период</label>
<div class="input-group">
<input type="month" class="form-control" id="date_from" name="date_from" placeholder="Дата" required>
</div>
</div>
  <div class="col-12 mt-2 ">
      <button class="btn btn-primary mt-1" type="submit" style="width: 100%;">Найти</button>
  </div>
</form>

<div>
  <h2> Общие данные за {{currentmonth}}</h2>
    <canvas id="allMonth"></canvas>
</div>

<script>
    const linelabel = {{days_in_month_end}};
    const dataplus = {{data_start_plus}};
    const dataminus = {{data_start_minus}};
    new Chart(
      document.getElementById('allMonth'),
      {
      type: 'line',
      data: {
    labels: linelabel,
    datasets: [{
    label: 'Расходы за {{currentmonth}}',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: dataminus,
    pointBackgroundColor: 'rgb(255, 99, 132)',
    radius: 5,
    tension: 0.2,
    interaction: {
          intersect: false,
        }

    },
    {
    label: 'Доходы за {{currentmonth}}',
    backgroundColor: 'rgb(150, 212, 97)',
    borderColor: 'rgb(150, 212, 97)',
    data: dataplus,
    pointBackgroundColor: 'rgb(150, 212, 97)',
    radius: 5,
    tension: 0.2,
    interaction: {
          intersect: false,
        }
    }]},
      options: {}
    }
    );
  </script>
<div>
  <h2> Расходы по категориям</h2>
  <canvas id="allCateg"></canvas>
</div>
<script>
const categsum= {{categsum}} 
new Chart(document.getElementById("allCateg"), {
    type: 'doughnut',
    label: "Расходы",
    data: {
      labels: ["Еда и продукты", "Дом и ремонт", "Электроника", "Хобби и развлечения", "Одежда, обувь, аксессуары", "Цветы и подарки", "Обучение", "Авто", "Уход за собой", "Кафе, бары, рестораны", "Книги, кино, искусство", "Другое"],
      datasets: [
        {
          label: "Расходы",
          backgroundColor: ["#fd7f6f", "#7eb0d5", "#b2e061", "#bd7ebe", "#ffb55a", "#ffee65", "#beb9db", "#fdcce5", "#8bd3c7", "#54bebe", "#599e94", "#9080ff"],
          data: categsum
        }
      ],
    },
    
    });
</script>
</div>

{% endblock %}